:root {
  --cubic-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: #212121;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 479px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__shadow, .info .shadow {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio__list, .filter__list, .soc__list, .address__list, .clients__list, .team__list, .work__list, .info__list, .mobile-socials, .mobile-contacts, .menu-mobile, .header-contacts, .site-nav {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.portfolio__link, .mobile-socials__link, .mobile-contacts__link--email, .mobile-contacts__link, .menu-mobile__link, .header-contacts__mail-link,
.header-contacts__phone-link, .site-nav__link, .logo {
  text-decoration: none;
}

.clients__title, .team__title, .work__title, .hero__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 0px;
  padding: 0px;
}

.subscribe__button, .hero__button {
  background-color: #2196f3;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
}

.page-header {
  width: 480px;
  position: relative;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 479px) {
  .page-header {
    width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .page-header {
    width: 100%;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}
.logo__web {
  color: #2196f3;
}

.logo__web {
  color: #2196f3;
}

.container--main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__navigation {
  display: flex;
  align-items: center;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav--current {
  color: #2196f3;
  position: relative;
}

.site-nav--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-animation-name: current-anima;
          animation-name: current-anima;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: var(--cubic);
          animation-timing-function: var(--cubic);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes current-anima {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes current-anima {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color 250ms var(--cubic);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.header-contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-contacts__item + .header-contacts__item {
    margin-left: 40px;
  }
}

.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.header-contacts__icon {
  margin-right: 10px;
}

.header-contacts__mail-link,
.header-contacts__phone-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms var(--cubic);
}
.header-contacts__mail-link:hover, .header-contacts__mail-link:focus, .header-contacts__mail-link:hover, .header-contacts__mail-link:focus,
.header-contacts__phone-link:hover,
.header-contacts__phone-link:focus,
.header-contacts__phone-link:hover,
.header-contacts__phone-link:focus {
  color: #2196f3;
}

.nav-hide {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-hide {
    display: flex;
    align-items: center;
  }
}

.menu-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  outline: none;
  transition: color 250ms var(--cubic);
}
.menu-button:hover .switch, .menu-button:focus .switch {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .page-header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.switch {
  z-index: 3;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 48px 84px 48px 40px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.mobile.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mobile.is-open {
    display: none;
  }
}

.menu-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

menu-mobile__item:last-child {
  margin-bottom: 306px;
}

.menu-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--cubic);
}
.menu-mobile__link:hover, .menu-mobile__link:focus {
  color: #2196f3;
}

.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}
.mobile-contacts__item:last-child {
  margin-bottom: 64px;
}
.mobile-contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-contacts__link--email {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contacts__link--email {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-socials {
  display: flex;
}
.mobile-socials__item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__item:last-child {
  border: none;
  padding-right: 0;
}
.mobile-socials__item:first-child {
  padding-left: 0;
}
.mobile-socials__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-socials__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  max-width: 576px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #757575;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 0px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-480x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 960px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-768x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-1200.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-1200x2.jpg);
  }
}
.hero__title {
  display: block;
  color: #ffffff;
  margin-bottom: 46px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-style: normal;
  border: 0;
  transition: opacity 250ms var(--cubic-animation);
}

.hero__button:hover, .hero__button:focus {
  opacity: 0.8;
}

.info.section {
  padding-bottom: 0px;
}

@media screen and (max-width: 1199px) {
  .info {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .info__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .info__list {
    flex-wrap: nowrap;
  }
}

.info__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .info__item:nth-child(2n) {
    margin-right: 0;
  }
  .info__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .info__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .info__item:nth-child(4n) {
    margin-right: 0;
  }
}

.info__icon {
  padding: 25px 100px 25px 100px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.info__title {
  font-size: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .info__title {
    text-align: center;
  }
}

.info__description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .work__list {
    display: flex;
  }
}

.work__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__image {
  width: 100%;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .work__image {
    width: 370px;
  }
}

.work__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}

.work__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__photo {
  margin-bottom: 30px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .team__item:nth-child(4n) {
    margin-right: 0;
  }
}

.team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .team__name {
    line-height: 1.18;
  }
}

.team__position {
  color: #757575;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .team__position {
    line-height: 1.18;
  }
}

.social__list {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transform: rotateZ(0deg);
  transition: background-color 250ms var(--cubic-animation), color 250ms var(--cubic-animation), transform 1250ms var(--cubic-animation);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .social__link:hover, .social__link:focus {
    transform: rotateZ(360deg);
  }
}

.social__icon {
  fill: currentColor;
}

.clients__title {
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transform: rotateY(0deg);
  transition: 250ms var(--cubic-animation), transform 750ms var(--cubic-animation);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .clients__link:hover, .clients__link:focus {
    transform: rotateY(360deg);
  }
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.container__adress {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container__adress {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container__adress {
    justify-content: space-between;
    text-align: start;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}

.logo--footer {
  color: #ffffff;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.address__city {
  color: #ffffff;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__contact:hover, .address__city:hover,
.address__contact:focus, .address__city:focus {
  color: #2196f3;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .soc__list {
    margin-bottom: 60px;
  }
}

.soc__join {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .soc__join {
    font-weight: 700;
  }
}

.soc__item {
  width: 44px;
  height: 44px;
}
.soc__item:not(:last-child) {
  margin-right: 10px;
}

.soc__list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: 250ms var(--cubic-animation);
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196f3;
}

.soc__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    width: 570px;
  }
}

.subscribe__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    align-items: flex-start;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 12px;
  margin-bottom: 20px;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-bottom: 0;
  }
}

.subscribe__join {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__join {
    font-weight: 700;
  }
}

.subscribe__button {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  overflow: hidden;
  border: 0em;
}
@media screen and (min-width: 768px) {
  .subscribe__button {
    bottom: 0;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes fly-icon {
  0% {
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
  }
  25% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(0deg);
  }
  50% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(180deg);
  }
  75% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(180deg);
  }
  100% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes fly-icon {
  0% {
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
  }
  25% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(0deg);
  }
  50% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(180deg);
  }
  75% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(180deg);
  }
  100% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(360deg);
  }
}
.subscribe__icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translatey(-50%);
}

.subscribe__button:hover .subscribe__icon,
.subscribe__button:focus .subscribe__icon {
  -webkit-animation-name: fly-icon;
          animation-name: fly-icon;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: var(--cubic-animation);
          animation-timing-function: var(--cubic-animation);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 93px;
    padding-bottom: 94px;
  }
}

.filter__numeration {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter__numeration {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__numeration {
    margin-bottom: 50px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
@media screen and (min-width: 768px) {
  .filter__list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.filter__button {
  color: #212121;
  background-color: #f5f4fa;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.filter__button:hover, .filter__button:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-animation);
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .filter__item + .item {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio__item {
  margin-bottom: 30px;
}
.portfolio__item:nth-child(9n) {
  margin-bottom: 0;
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.example__photo {
  position: relative;
  overflow: hidden;
}

.example__image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 294px;
}

.example__description {
  border: 1px solid #eeeeee;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px 24px;
}

.example__title {
  display: block;
  margin-bottom: 4px;
  margin-top: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.example__label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
}

.example__text {
  position: absolute;
  top: 0;
  opacity: 0;
  padding: 63px 24px 63px 24px;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 149, 243, 0.9);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(294px);
  transition: transform 250ms var(--cubic-animation), opacity 250ms var(--cubic-animation);
}

.portfolio__item:hover .example__text,
.portfolio__item:focus .example__text {
  opacity: 1;
  transform: translateY(0px);
}

.backdrop {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic-animation);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  max-height: 100%;
  background: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic-animation);
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.close-button__icon {
  width: 100%;
  height: 100%;
  fill: #000;
  transition: fill 250ms var(--cubic);
}
.close-button:hover .close-button__icon, .close-button:focus .close-button__icon {
  fill: #2196f3;
}

.callback {
  padding: 40px;
}

.callback__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}
.callback__form-field:focus-within .callback__icons, .callback__form-field:hover .callback__icons, .callback__form-field:focus .callback__icons {
  fill: #2196f3;
}
.callback__form-field:nth-child(5) {
  margin-bottom: 20px;
}

.callback__label:not(:last-child) {
  margin-bottom: 4px;
}

.callback__input-place {
  position: relative;
}

.callback__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-animation);
}
.callback__input:hover, .callback__input:focus {
  border-color: #2196f3;
}

.callback__icons {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic-animation);
}

.callback__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.callback__textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: none;
  transition: border-color 250ms var(--cubic-animation);
}
.callback__textarea:hover, .callback__textarea:focus {
  border-color: #2196f3;
}

.accept__field {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .accept__field {
    justify-content: center;
  }
}

.accept__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.accept__checkbox:checked + .accept__icon {
  background-image: url(../images/icon-check-on.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-color: #2196f3;
}

.accept__icon {
  display: block;
  transition: background-image 250ms var(--cubic-animation);
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}

.accept__title {
  margin-left: 8px;
  font-size: 12px;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .accept__title {
    font-size: 14px;
  }
}

.accept__contract-link {
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.main__button--modal-position {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal__send {
  display: block;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 auto;
  opacity: 1;
  padding: 10px 24px;
  background-color: #2196F3;
  color: #ffffff;
  transition: opacity 250ms var(--cubic-animation);
}
.modal__send:hover, .modal__send:focus {
  opacity: 0.8;
}/*# sourceMappingURL=main.css.map */