:root {
  --cubic-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: #212121;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__shadow, .info .shadow {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio__list, .filter__list, .soc__list, .address__list, .clients__list, .team__list, .work__list, .info__list, .contact__list, .navigation__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.portfolio__link, .navigation__link {
  text-decoration: none;
}

.clients__title, .team__title, .work__title, .hero__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-top: 0px;
  padding: 0px;
}

.backdrop__button, .subscribe__button, .hero__button {
  background-color: #2196f3;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
}

.header {
  min-height: 60px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    display: flex;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header .container {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-right: 81px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    display: flex;
    justify-content: space-between;
    min-width: 148px;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 85px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.accent {
  color: #2196f3;
}

.mobile {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  fill: #212121;
}
.mobile .mobile__close {
  display: none;
}
.mobile.is-open .mobile__close {
  display: block;
}
.mobile.is-open .mobile__open {
  display: none;
}
.mobile:hover, .mobile:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation__box {
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .navigation__box.is-open {
    display: block;
    z-index: 2;
  }
}
@media screen and (min-width: 768px) {
  .navigation__box {
    display: flex;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__box {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item {
    margin-bottom: 40px;
  }
}
.navigation__link {
  display: inline-block;
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14;
  transition: color 250ms var(--cubic-animation);
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    position: relative;
    padding-top: 33px;
    padding-bottom: 33px;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link.current {
  color: #2196f3;
}

.navigation__link.current::after {
  content: "";
  opacity: 1;
  display: block;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  height: 4px;
  margin-top: 8px;
  background-color: #2196f3;
  background-size: auto;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .navigation__link.current::after {
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .contact__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    flex-wrap: nowrap;
    margin-left: 305px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__item + .contact__item {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .contact__item + .contact__item {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contact__address {
  color: #757575;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.14px;
  transition: 250ms var(--cubic-animation);
}
.contact__address:hover {
  color: #2196f3;
}
.contact__address:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contact__address {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact__address {
    font-size: 14px;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.hero {
  max-width: 576px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #757575;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 0px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-480x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 960px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-768x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-1200.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-1200x2.jpg);
  }
}
.hero__title {
  display: block;
  color: #ffffff;
  margin-bottom: 46px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-style: normal;
  border: 0;
  transition: opacity 250ms var(--cubic-animation);
}

.hero__button:hover, .hero__button:focus {
  opacity: 0.8;
}

@media screen and (max-width: 1199px) {
  .info {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .info__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .info__list {
    flex-wrap: nowrap;
  }
}

.info__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .info__item:nth-child(2n) {
    margin-right: 0;
  }
  .info__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .info__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .info__item:nth-child(4n) {
    margin-right: 0;
  }
}

.info__icon {
  padding: 25px 100px 25px 100px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.info__title {
  font-size: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .info__title {
    text-align: center;
  }
}

.info__description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .work__list {
    display: flex;
  }
}

.work__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__image {
  width: 100%;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .work__image {
    width: 370px;
  }
}

.work__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}

.work__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}

.team__photo {
  margin-bottom: 30px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
  .team__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .team__item:nth-child(4n) {
    margin-right: 0;
  }
}

.team__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .team__name {
    line-height: 1.18;
  }
}

.team__position {
  color: #757575;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .team__position {
    line-height: 1.18;
  }
}

.social__list {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transform: rotateZ(0deg);
  transition: background-color 250ms var(--cubic-animation), color 250ms var(--cubic-animation), transform 1250ms var(--cubic-animation);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .social__link:hover, .social__link:focus {
    transform: rotateZ(360deg);
  }
}

.social__icon {
  fill: currentColor;
}

.clients__title {
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
  transition: 250ms var(--cubic-animation), transform 750ms var(--cubic-animation);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .clients__link:hover, .clients__link:focus {
    transform: rotateY(360deg) rotateZ(360deg) rotateY(360deg);
  }
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.container__adress {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container__adress {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container__adress {
    justify-content: space-between;
    text-align: start;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}

.logo--footer {
  color: #ffffff;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.address__city {
  color: #ffffff;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__contact:hover, .address__city:hover,
.address__contact:focus, .address__city:focus {
  color: #2196f3;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .soc__list {
    margin-bottom: 60px;
  }
}

.soc__join {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .soc__join {
    font-weight: 700;
  }
}

.soc__item {
  width: 44px;
  height: 44px;
}
.soc__item:not(:last-child) {
  margin-right: 10px;
}

.soc__list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: 250ms var(--cubic-animation);
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196f3;
}

.soc__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    width: 570px;
  }
}

.subscribe__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    align-items: flex-start;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 12px;
  margin-bottom: 20px;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 358px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-bottom: 0;
  }
}

.subscribe__join {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__join {
    font-weight: 700;
  }
}

.subscribe__button {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  overflow: hidden;
  border: 0em;
}
@media screen and (min-width: 768px) {
  .subscribe__button {
    bottom: 0;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes fly-icon {
  0% {
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
  }
  25% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(0deg);
  }
  50% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(180deg);
  }
  75% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(180deg);
  }
  100% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes fly-icon {
  0% {
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
  }
  25% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(0deg);
  }
  50% {
    top: 0;
    right: 0;
    transform: translateY(0) rotate(180deg);
  }
  75% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(180deg);
  }
  100% {
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(360deg);
  }
}
.subscribe__icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translatey(-50%);
}

.subscribe__button:hover .subscribe__icon,
.subscribe__button:focus .subscribe__icon {
  -webkit-animation-name: fly-icon;
          animation-name: fly-icon;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: var(--cubic-animation);
          animation-timing-function: var(--cubic-animation);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 93px;
    padding-bottom: 94px;
  }
}

.filter__numeration {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter__numeration {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__numeration {
    margin-bottom: 50px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
@media screen and (min-width: 768px) {
  .filter__list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.filter__button {
  color: #212121;
  background-color: #f5f4fa;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.filter__button:hover, .filter__button:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-animation);
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .filter__item + .item {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio__item {
  margin-bottom: 30px;
}
.portfolio__item:nth-child(9n) {
  margin-bottom: 0;
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.example__photo {
  position: relative;
  overflow: hidden;
}

.example__image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 294px;
}

.example__description {
  border: 1px solid #eeeeee;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px 24px;
}

.example__title {
  display: block;
  margin-bottom: 4px;
  margin-top: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.example__label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
}

.example__text {
  position: absolute;
  top: 0;
  opacity: 0;
  padding: 63px 24px 63px 24px;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 149, 243, 0.9);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(294px);
  transition: transform 250ms var(--cubic-animation);
}

.portfolio__item:hover .example__text,
.portfolio__item:focus .example__text {
  opacity: 1;
  transform: translateY(0px);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--cubic-animation), visibility 250ms var(--cubic-animation);
}

.backdrop__form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .backdrop__form {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop__form {
    width: calc(100% - 318px);
    top: 60%;
    transform: translate(-50%, -40%);
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__form {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
  }
}

.backdrop__description {
  margin-bottom: 30px;
  margin-top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.backdrop__field {
  display: block;
  position: relative;
}

.form__label {
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}

.form__input:not(:-moz-placeholder-shown) + .form__label {
  transform: translateY(-40px) translateX(-15px);
  color: #2196f3;
}

.form__input:not(:-ms-input-placeholder) + .form__label {
  transform: translateY(-40px) translateX(-15px);
  color: #2196f3;
}

.backdrop__field:focus-within > .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-40px) translateX(-15px);
  color: #2196f3;
}

.backdrop__field:nth-child(-n+4) {
  margin-bottom: 28px;
}

.form__input {
  width: 100%;
  height: 38px;
  display: block;
  background-color: #ffffff;
  margin: 0;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form__input:focus {
  border: 1px solid #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: inline-block;
}

.backdrop__field:focus-within > .form__icon {
  fill: #2196f3;
}

.comment {
  margin-bottom: 20px;
  height: 120px;
}

.form__comment {
  padding: 10px 20px;
  padding-left: 16px;
  font: inherit;
  position: relative;
  width: 100%;
  height: 120px;
  resize: none;
  box-shadow: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form__comment:focus, .form__comment:hover {
  border: 1px solid #2196f3;
}

.form__text {
  position: absolute;
  top: 20px;
  left: 16px;
  transition: transform 250ms linear;
}

.form__comment:not(:-moz-placeholder-shown) + .form__label {
  transform: translateY(-40px) translateX(-15px);
  color: #2196f3;
}

.form__comment:not(:-ms-input-placeholder) + .form__label {
  transform: translateY(-40px) translateX(-15px);
  color: #2196f3;
}

.form__comment:focus-within > .form__label,
.form__comment:not(:placeholder-shown) + .form__label {
  transform: translateY(-40px) translateX(-15px);
  color: #2196f3;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  transition: transform 250ms linear;
}

.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox__policy {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  color: #2196f3;
  text-decoration: underline;
}

.backdrop__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.backdrop__submit {
  display: flex;
  justify-content: center;
}

.backdrop__button {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */